.dashboard{
    background-color: #fafafa;
    display: flex;
}
.dc{
    padding: 80px 20px;
}
.main-content{
    width: 100%;
}
.sidebar
{
    padding: 20px;
    width: 200px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar div{
    padding: 5px;
    border: 1px solid black;
}
a
{
    color: #e8491d;
    text-decoration: none;
}
/* Table styles */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.data-table th {
    background-color: #f2f2f2;
    color: #555;
}

.data-table td {
    background-color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
ul li button{
    border: none;
    background-color: transparent;
}
button:hover{
    color: #e8491d;
}
 /* Form CSS */

.field-input{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.edit{
    display: none;
}